@font-face {
  font-family: "Altinn-DIN Exp";
  src: url('Altinn-DIN Exp.ttf');
}

@font-face {
  font-family: "HarmonyOS_Sans_SC";
  src: url('HarmonyOS_Sans_SC_Regular_MIN.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* 优先加载精简版并快速显示 */
}

@font-face {
  font-family: "HarmonyOS_Sans_SC";
  src: url('HarmonyOS_Sans_SC_Bold_MIN.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  /* 优先加载精简版并快速显示 */
}